
/* Setup *****************************************************************************************/

@import '/reset.css';

html {
    --ink: #333;
    --paper: wheat;
}

/* body * { */
/*     border: 1px solid red; */
/* } */

body {
    background-color: var(--paper);
    color: var(--ink);

    /*  body structure  */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Structure *******************************************************************************************/

main {
    flex-grow: 1;
}

.inner-column {
    display: block;
    max-width: 700px;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid black;
}

mast-head {
    display: flex;
    flex-direction: row;
    align-items: center;
}

graphic-diptych {
    display: flex;
    flex-direction: column;
}

.site-menu ul {

    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-menu a {
    display: block; /*why is this block ?*/
    padding: 10px;
}

.logo {
    padding-left: 3px;
}

/* style */

