@import '../reset.css';

* {
    box-sizing: border-box;
}

body * {
    border: 1px solid red;
}

body {
    padding: 10px;
    height: 100vh;
    width: 100vw;
    border: 2px solid red;
}

div {
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.yellow:nth-of-type(1) {
    height: 65%;
    width: 40%;
    flex-direction: column;
    justify-content: space-around;
}

.yellow:nth-of-type(1) .green:nth-of-type(1) {
    min-height: 40%;
    justify-content: space-between;
    align-items: center;
}


.yellow:nth-of-type(1) .green:nth-of-type(1) .purple:nth-of-type(1){
    min-width: 60%;
    min-height: 95%;
    justify-content: space-between;
    align-items: center;
}

.yellow:nth-of-type(1) .green:nth-of-type(1) .purple:nth-of-type(2){
    min-width: 10%;
    min-height: 20%;
    margin-right: 8px;

}

.yellow:nth-of-type(1) .green:nth-of-type(2) {
    min-height: 55%;
    justify-content: flex-start;

}

.yellow:nth-of-type(1) .green:nth-of-type(2) .purple {
    min-height: 55%;
    min-width: 50%;
    flex-direction: column;
    .teal {
	min-height: 35%;
	flex-direction: column;
	align-items: flex-start;
    }
}

.yellow:nth-of-type(2) {
    flex-direction: column;
    height: 50%;
    width: 28%;
}

.yellow:nth-of-type(2) .green:nth-of-type(1) {
    min-height: 30%;
}

.yellow:nth-of-type(2) .green:nth-of-type(2) {
    min-height: 65%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.orange {
    background-color: darkorange;
    height: 90vh;
    align-items: center;
}

.yellow {
    background-color: gold;
}

.green {
    background-color: aqua;
}

.purple {
    background-color: pink;
}

.teal {
    background-color: lightseagreen;
}
.red {
    background-color: peachpuff;
}
