/* css */

@import '/reset.css';

body * {
    border: 1px solid red;
    border-radius: 10px;
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding: 20px;
    background-color: lightgray;

}

main {
    padding: 20px;
    gap: 20px;
    max-width: 1200px;
    min-height: 80vh;
    background-color: peachpuff;
    margin-left: auto;
    margin-right: auto;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

section {
    background-color: rgb(255 255 255 /.5);
}

.section-one {
    min-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}


.section-two {

    min-width: 30%;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.section-one .header {
    min-height: 10vh;
    background: rgb(0 200 120/.2);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.section-one .header .left_vert {
    min-width: 70%;
    display: flex;
    justify-content: flex-start;
    background-color: hsl(1 70% 90%);
    padding: 15px;
    .vert {
	min-width: 100%
    }
}


.section-one .header .right_vert {
    min-width: 30%;
    display: flex;
    justify-content: flex-end;
    background-color: hsl(1 70% 90%);
    padding: 15px;
    .vert {
	min-width: 30%
    }
}

.section-one .header .left_vert {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

ina {
    min-width: 15%;
    background-color: hsl(200 70% 90%);
}


.section-one .content {
    min-height: 30vh;
    background: rgb(0 200 120/.2);
    display: flex;
    padding: 20px;
}   

.section-two .header {
    min-height: 10vh;
    background: rgb(0 200 120/.2);
    display: flex;
    padding: 20px;
}

.section-two .content {
    min-height: 15vh;
    background: rgb(0 200 120/.2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}   

.vert {
    min-width: 10%;
    background-color: hsl(1 70% 90%);
}

.section-two .content .top {
    min-height: 30%;
    background-color: hsl(1 70% 90%);
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.section-two .content .bottom {
    min-height: 20%;
    background-color: hsl(1 70% 90%);
}

.section-one .content .left-column {
    background-color: hsl(1 70% 90%);
    min-width: 60%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.section-one .content .top {
    min-height: 20%;
    background-color: hsl(200 70% 90%);
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.left {

    
}
